<!DOCTYPE html>
{% extends "track_inventory/base.html" %}
{% load static %}
<html>
    <head>
        {% block head %}
        <link rel="stylesheet" href="{% static 'track_inventory/menu_item_style.css' %}">
        {% endblock %}
    </head>
    <body>
        {% block content %}
        <h2>Add <Purchase></Purchase></h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Add" />
        </form>
        {% endblock %}
    </body>

</html>